.P2 {
  margin: 15px auto;
  padding: 10px;
  background-color: #282C34;
  height: auto;
  border-radius: 12px;
}

.P2 h1 {
  color: #ffffff;
  font-size: 30px;
  margin: 0 auto 13px;
}

.P2 .inputBox {
  display: block;
}

.P2-Input {
  background-color: #FAFAFA;
  border: none;
  height: 50px;
  width: 100%;
  outline: none;
  border-radius: 5px;
}

.P2-Input[type='number'] {
  font-size: 22px;
  padding: 7px 15px;
}

.P2 button {
  display: block;
  margin: 20px auto 30px;
  height: 50px;
  width: 150px;
  justify-content: center;
  font-weight: 700;
  border: none;
  text-decoration: none;
  color: #282C34;
  background-color: #61DAFB;
  border-radius: 30px;
}

.P2-P {
  line-height: 2px;
  color: #ffffff;
  margin: 15px 2px;
}

.BMIResult {
  color: #ffffff;
  font-size: 30px;
  margin: 0 10px;
}