@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

.P1 {
  margin: 15px auto;
  padding: 10px;
  background-color: #282C34;
  height: 255px;
  border-radius: 12px;
}

.P1 h1 {
  color: #ffffff;
  font-size: 30px;
  margin: 0 auto 13px;
}

.P1-Input {
  background-color: #FAFAFA;
  border: 1px solid;
  height: 50px;
  width: 90%;
  outline: none;
  margin: 3px;
  border-radius: 5px;
}

.P1-Input[type='text'] {
  font-size: 22px;
  padding: 7px;
}

.P1 .Set {
  display: flex;
}

.P1 .currency {
  font-family: 'Roboto Mono', monospace;
  color: #61DAFB;
  font-size: 21px;
  text-align: left;
  vertical-align: middle;
  margin: 2px 4px;
  padding: 10px 0px;
}