.P3 {
  margin: 15px auto;
  padding: 10px;
  background-color: #282C34;
  height: auto;
  border-radius: 12px;
}

.P3 h1 {
  color: #ffffff;
  font-size: 30px;
  margin: 0 auto 13px;
}

.P3-InputBox {
  display: flex;
}

.P3-Input {
  background-color: #FAFAFA;
  border: none;
  height: 50px;
  width: 95%;
  outline: none;
}

.P3-Input[type='text'] {
  font-size: 22px;
  padding: 7px 15px;
}

.P3 button {
  font-weight: 700;
  border: none;
  text-decoration: none;
  color: #282C34;
  background-color: #61DAFB;
}

.P3 h3 {
  font-size: 50px;
  color: #ffffff;
  margin: 10px auto;
  overflow-wrap: break-word;
}

.P3 p {
  line-height: 2px;
  color: #ffffff;
  
}