@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
body {
  background-color: #1E1E1E;
  font-family: 'Montserrat', sans-serif;
}

.header {
  text-align: center;
}

.header .h1 {
  color: #ffffff;
  font-size: 1rem;
  left: 0;
  right: 0;
  top: 0;
  margin: 0.8rem auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  letter-spacing: 0.4rem;
  text-transform: uppercase;
  z-index: 3;
}

.header .h2 {
  color: #10b3e0;
  font-size: 4.5rem;
  padding: 1rem;
  margin: 0;
  background-color: #161717;
}

.ReactProjects {
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 45rem;
  margin: 0 auto !important;
  padding: 2rem;
}

.ReactProjects > * {
  width: 100%;
}

.footer {
  text-align: center;
  margin-top: 2rem;
  padding: 1rem;
  background-color: #161717;
}

.footer .logo {
  color: #ffffff;
}

.P1 {
  margin: 1rem;
  padding: 0.8rem;
  background-color: #E9EBEC;
  height: auto;
  border-radius: 1rem;
  color: #1E1E1E;
}

.P1 .P1-MainTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.P1 .P1-MainTitle .P1-Header {
  font-size: 1.4rem;
  font-weight: 600;
  margin: 0 auto 0.8rem;
  text-transform: capitalize;
  width: 100%;
}

.P1 .P1-InputBox {
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.P2 {
  margin: 1rem;
  padding: 0.8rem;
  background-color: #E9EBEC;
  height: auto;
  border-radius: 1rem;
  color: #1E1E1E;
}

.P2 .P2-MainTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.P2 .P2-MainTitle .P2-Header {
  font-size: 1.4rem;
  font-weight: 600;
  margin: 0 auto 0.8rem;
  text-transform: capitalize;
  width: 100%;
}

.P2 .P2-Button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0.7rem auto;
}

.P3 {
  margin: 1rem;
  padding: 0.8rem;
  background-color: #E9EBEC;
  height: auto;
  border-radius: 1rem;
  color: #1E1E1E;
}

.P3 .P3-MainTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.P3 .P3-MainTitle .P3-Header {
  font-size: 1.4rem;
  font-weight: 600;
  margin: 0 auto 0.8rem;
  text-transform: capitalize;
  width: 100%;
}

.P3 .P3-InputBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem 0;
}

.P3 .P3-InputBox .P3-Input {
  -ms-flex-preferred-size: 95%;
      flex-basis: 95%;
  outline: none;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.P3 .P3-InputBox .P3-Input [type='text'] {
  font-size: 1.3rem;
  padding: 0.5rem 0.7rem;
}

.P3 .P3-InputBox .P3-Button {
  background-color: #10b3e0;
  border-radius: 0;
  padding: 0 2rem;
}

.P3 .P3-Output {
  font-size: 3rem;
  margin: 0.8rem 0;
  overflow-wrap: break-word;
  max-width: 10ch;
}

.P3 .P3-History {
  line-height: 0.2rem;
}
/*# sourceMappingURL=main.css.map */