@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* * {
  border: 1px solid #f00 !important;
} */

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #303540;
}

/* Heading */
.header1, .header2 {
  position: relative;
  text-align: center;
  margin: 0;
}

.header1 {
  color: #ffffff;
  left: 0;
  right: 0;
  top: 0;
  margin: 40px auto;
  justify-content: center;
  position: absolute;
  letter-spacing: 4px;
  z-index: 1;
}

.header2 {
  color: #61DAFB;
  font-size: 70px;
  margin: 35px auto 0;
  background-color: #282C34;
}

.footer {
  color: #b3b5b9;
  text-align: center;
  font-size: 12px;
  margin: 15px auto 0;
  padding: 30px;
  background-color: #282C34;
  white-space: pre-wrap;
}

/* Main Projects */
.container {
  max-width: 600px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

ul {
  margin: 20px;
  list-style: none;
}

.container > * {
  flex-basis: 100%;
}
